---
import Title from "@components/global/Title.astro";
---

<section>
	<div class="mx-auto max-w-7xl px-8 py-12 md:px-12 lg:px-32 lg:py-32">
		<div>
			<Title title="Terms" subtitle="Last updated January 14, 2025" class="pb-10 pt-20 uppercase" />
		</div>
		<div class="prose-styles mt-12 lg:mt-24">
			<h2 id="description-all-the-terms-that-you-agree-to-when-you-sign-up-for-a-hermosa-software-product-">
				All the terms that you agree to when you sign up for a Hermosa Software product.
			</h2>

			<p>
				From everyone at Hermosa Software, thank you for using our products! We build them to help you do your best work. Our mission is to empower teams and individuals to launch, grow, and scale their digital ideas efficiently and with confidence.
			</p>
			<p>
				When we say "Company", "we", "our", or "us" in this document, we are referring to Hermosa Software, a software development agency based in Costa Rica. We specialize in building web and mobile applications, digital platforms, and providing technical consulting services.
			</p>
			<p>
				When we say "Services", we mean our websites, including <a href="https://hermosasoftware.io">hermosasoftware.io</a>, and any product created and maintained by Hermosa Software, such as custom software solutions, SaaS platforms, and related services.
			</p>
			<p>
				When we say "You" or "your", we are referring to the people or organizations that own an account with one or more of our Services. Our products are designed to empower startups, businesses, and creative teams to build, launch, and scale their digital projects.
			</p>

			<p>WIP.</p>

			<p>If you have any questions about these Terms, please contact us at <a href="mailto:support@hermosasoftware.io">support@hermosasoftware.io</a>.</p>
		</div>
	</div>
</section>
